{%- load_yaml as osfamilymap -%}
RedHat:
  - cascadia-fonts-all
  - google-noto-color-emoji-fonts
  - google-noto-fonts-all
  - ibm-plex-fonts-all
  - liberation-fonts-all
  - rsms-inter-fonts
Debian:
  - fonts-fantasque-sans
  - fonts-ibm-plex
  - fonts-inter
  - fonts-inter-variable
  - fonts-liberation2
  - fonts-noto
  - fonts-noto-color-emoji
{%- endload -%}
{{ salt['grains.filter_by'](osfamilymap, default={}) }}
{#- vim: set syntax=salt.yaml ts=2 sw=2 sts=2 et : -#}
