[Unit]
Description=onlykey-agent SSH agent socket
ConditionEnvironment=SSH_AUTH_SOCK

[Socket]
ListenStream=/run/user/%U/onlykey/ssh/S.agent
FileDescriptorName=ssh
Service=onlykey-ssh-agent.service
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target

