{%- load_yaml as osfamily -%}
RedHat:
  - curl
  - procps-ng
  - vim-common
  - xclip
{%- endload -%}
{{ salt['grains.filter_by'](osfamily, default={}) }}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
