{%- include "utils/banner.jinja" -%}

qubes.Gpg   *   @tag:split-gpg-client    @tag:onlykey-gpg-agent-server  ask
qubes.Gpg   *   @tag:onlykey-gpg-client  @tag:onlykey-gpg-agent-server  allow notify=yes
qubes.Gpg   *   @tag:onlykey-gpg-client  @default                       ask target={{ vm_name }}

qubes.GpgImportKey   *   @tag:split-gpg-client    @tag:onlykey-gpg-agent-server  ask
qubes.GpgImportKey   *   @tag:onlykey-gpg-client  @tag:onlykey-gpg-agent-server  allow notify=yes
qubes.GpgImportKey   *   @tag:onlykey-gpg-client  @default                       ask target={{ vm_name }}

{#- vim: set syn=jinja ft=jinja tw& : -#}
