{%- from "common/defaults/qvm_defaults.jinja" import dvm_defaults -%}
{%- set template_name = "uses-stack-qb-executor" -%}
{%- set builder_persistent_dir = "/builder" -%}

{%- load_yaml as vm_defaults -%}
present:
  - template: "{{ template_name }}"
prefs:
  - memory: 4000
  - maxmem: 8000
  - vcpus: 4
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, dvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, vm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm,
  salt["pillar.get"]("user_qvms:dispvms:dvm_qb_executor", default={}),
  merge_lists=true,
  in_place=true
) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
