[submodule "src/salt/common/custom-themes/Windows-10-Darker/Windows-10-Dark"]
	path = src/salt/common/custom-themes/Windows-10-Darker/Windows-10-Dark
	url = https://github.com/B00merang-Project/Windows-10-Dark.git
