{# vim: set syn=salt ts=2 sw=2 sts=2 et : #}

qubes_setup:
  defaults:
    gpg2-server: vault-pgp
    ssh-server: sys-onlykey

qvm:
  defaults:
    prefs:
      - label: red
      - template: fedora-41-minimal

      - memory: 400
      - maxmem: 4000
      - vcpus: 2

      - kernel: default
      - kernelopts: ""
      - mac: auto
      - pci-strictreset: true
      - pcidevs: []
      - virt-mode: pvh

      - audiovm: "*default*"
      - guivm: "*default*"
      - netvm: "*default*"

      - autostart: false
      - debug: false
      - default-user: user
      - include-in-backups: false
      - internal: false
      - qrexec-timeout: 120

