---
# TODO: These should be put down under "user_qubes"
# ui related preferences
ui:
  prefs:
    theme:
      cursor: "Adwaita"
      gtk: "Adwaita"
      icon: "Adwaita"
    fonts:
      mono: "IBM Plex Mono 10"
      sans: "Liberation Sans 10"
      serif: "Liberation Serif 10"

# set the defaults for qubes created with salts from this repo
qvm_defaults:
  prefs:
    - label: gray

    - memory: 400
    - maxmem: 2000
    - vcpus: 1

    - kernel: "*default*"
    - kernelopts: "*default*"
    - pci-strictreset: true
    - virt-mode: pvh

    - audiovm: "*default*"
    - guivm: "*default*"
    - netvm: "*default*"

    - autostart: false
    - debug: false
    - default-user: user
    - include-in-backups: false
    - internal: false
    - qrexec-timeout: 120

  features:
    - set:
      - menu-items: Alacritty.desktop
      - default-menu-items: Alacritty.desktop

# User global preferences
user_qubes:
  defaults:
    gpg: sys-onlykey
    netvm: sys-vpn-ivpn
    ssh: sys-onlykey
    sysusb: disp-sys-usb
    whonix: sys-tor-whonix

# User custom preferences. These override the defaults set in various salt states
# for various guest VMs
user_qvms:
  appvms:

    sys_vpn_ivpn:
      qvm: {}
      mfw: {}

  dispvms: {}

  templates:

    provides_mirageos_firewall:
      qvm: {}
      mirageos_release: {}
        # version:
        # checksum:

    uses_app_trivalent:
      qvm: {}
      celenity_titanium:
        enable: true
        block_extensions: true
        allow_trustworthy_extensions: true
        unbreak_bitwarden: false
        allow_webusb: false

    uses_app_tuta:
      qvm: {}
      tuta_release: {}
        # version:
        # checksum:

# vim: ft=yaml ts=2 sw=2 sts=2 et :
