# vim: set ts=2 sw=2 et number :

# GUI domain input
# Policies           # Args   # Source      # Dest    # Action  # Options
#
qubes.InputMouse     *        {{ usb_vm }}  dom0      ask       user=root default_target={{ gui_vm }}
qubes.InputKeyboard  *        {{ usb_vm }}  dom0      ask       user=root default_target={{ gui_vm }}
qubes.InputTablet    *        {{ usb_vm }}  dom0      deny

# qubes.InputMouse     *        {{ usb_vm }}  dom0      allow     user=root target={{ gui_vm }}
# qubes.InputKeyboard  *        {{ usb_vm }}  dom0      allow     user=root target={{ gui_vm }}
# qubes.InputTablet    *        {{ usb_vm }}  dom0      deny

