{%- set template_name = "provides-net" -%}
{%- from "common/defaults/qvm_defaults.jinja" import appvm_defaults -%}

{%- set pci_devs = salt["grains.get"]("wifi_devs", []) | yaml -%}

{%- load_yaml as vm_defaults -%}
present:
  - template: "{{ template_name }}"
  - label: red
  - mem: 300
prefs:
  - memory: 300
  - netvm: ""
  - virt-mode: hvm
  - provides-network: true
  - pcidevs: {{ pci_devs }}
  - pci_strictreset: false
require:
  - qvm: provides-net
service:
  - enable:
    - clocksync
    - minimal-netvm
  - disable:
    - meminfo-writer
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, appvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, vm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm,
  salt["pillar.get"]("user_qvms:appvms:sys_net_wifi", default={}),
  merge_lists=true,
  in_place=true
) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
