[gpg]
  program = qubes-gpg-client-wrapper
[commit]
  gpgSign = true
{% if pillar.config.gpg_user and pillar.config.gpg_email and pillar.config.gpg_pubkey %}
[user]
  name = {{ pillar.config.gpg_user }}
  email = {{ pillar.config.gpg_email }}
  signingKey = {{ pillar.config.gpg_pubkey }}
{% endif %}
