[gpg]
  program = qubes-gpg-client-wrapper
[commit]
  gpgSign = true
{% if config.gpg_user and config.gpg_email and config.gpg_pubkey %}
[user]
  name = {{ config.gpg_user }}
  email = {{ config.gpg_email }}
  signingKey = {{ config.gpg_pubkey }}
{% endif %}
