[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=alacritty --command senpai
Icon=Senpai
Terminal=false
Categories=System;TerminalEmulator;

Name=Senpai
GenericName=Terminal
Comment=A modern terminal IRC client.
StartupNotify=true
StartupWMClass=Senpai
Actions=New;
X-Desktop-File-Install-Version=0.28

[Desktop Action New]
Name=New Terminal
Exec=alacritty --command senpai
