# vim: set ts=2 sw=2 et number:

# GUI domain input
# Policies           # Args   # Source      # Dest    # Action  # Options
#
qubes.InputMouse     *        {{ usb_vm }}  dom0              ask       user=root default_target={{ gui_vm }}
qubes.InputMouse     *        {{ usb_vm }}  {{ gui_vm }}      ask       user=root default_target={{ gui_vm }}
qubes.InputKeyboard  *        {{ usb_vm }}  dom0              ask       user=root default_target={{ gui_vm }}
qubes.InputKeyboard  *        {{ usb_vm }}  {{ gui_vm }}      ask       user=root default_target={{ gui_vm }}
qubes.InputTablet    *        {{ usb_vm }}  dom0              deny
qubes.InputTablet    *        {{ usb_vm }}  {{ gui_vm }}      deny

{#- vim: set syn=jinja: -#}
