{% set user = salt["group.info"]("qubes").get("members")[0] -%}
{% set user_id = salt["user.info"](user).get("uid") -%}
{% set user_home = salt["user.info"](user).get("home") -%}

{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
