{%- from './maps/grains.osfamily.jinja' import ui with context -%}
{%- load_yaml as default_prefs -%}
theme:
  cursor: 'Adwaita'
  gtk: 'Adwaita'
  icon: 'Adwaita'
fonts:
  sans: 'Liberation Sans 10'
  serif: 'Liberation Serif 10'
  mono: 'IBM Plex Mono 10'
{%- endload -%}
{%- set prefs = {} -%}
{%- set pkgs = ui.pkgs -%}
{%- do salt['defaults.merge'](prefs, default_prefs, in_place=true) -%}
{%- do salt['defaults.merge'](prefs, ui.prefs, in_place=true) -%}
{%- do salt['defaults.merge'](prefs, salt['pillar.get']('ui:prefs', default={}), in_place=true) -%}
{%- do salt['log.debug'](prefs) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
