{%- set policies = [
  ("qubes.OpenURL", "*", "@anyvm", browser_vm, "allow"),
  ("qubes.OpenURL", "*", "@anyvm", "@anyvm", "deny notify=yes")
] -%}

{%- from "utils/macros/generate_policy_file.sls" import generate_policy_file -%}
{%- include "utils/banner.jinja" -%}

{{ generate_policy_file(policies) }}
{#- vim: set syn=jinja ft=jinja tw& : -#}
