{%- set template_name = "provides-split-ssh" -%}
{%- from "common/defaults/qvm_defaults.jinja" import appvm_defaults -%}

{%- load_yaml as vm_defaults -%}
present:
  - template: "{{ template_name }}"
  - label: gray
prefs:
  - netvm: ""
features:
  - enable:
    - service.custom-persist
  - set:
    - custom-persist.user_ssh: "dir:user:user:0700:/home/user/.ssh"
    - custom-persist.ssh_autostart: "file:user:user:0700:/home/user/.config/autostart/ssh-add.desktop"
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, appvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, vm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm,
  salt["pillar.get"]("user_qvms:appvms:vault_ssh", default={}),
  merge_lists=true,
  in_place=true
) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
