# vim: set ft=systemd :
[Unit]
Description=Sync Qubes app menu

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/lib/qubes/qrexec-client-vm dom0 qubes.SyncAppMenus /etc/qubes-rpc/qubes.GetAppmenus'

[Install]
WantedBy=default.target


