# vim: set ft=systemd :
[Unit]
Description=Periodically check for Flatpak updates


[Timer]
OnBootSec=5min
OnUnitActiveSec=2d

[Install]
WantedBy=timers.target
