# vim: set ft=systemd :
[Unit]
Description=Check if Flathub repo is installed for user
ConditionPathExists=!/run/qubes/this-is-templatevm
ConditionUser=!root
OnSuccess=user-install-flatseal.service
OnSuccess=user-install-warehouse.service
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo'
Restart=on-failure
RestartSec=90

[Install]
WantedBy=default.target
