#!/bin/bash --
# vim: set syn=sh :
set -xeuo pipefail

log(){
  logger --tag "qubes-split-ssh" "${1}"
}

log "STARTING SPLIT SSH...."

# The following vars can be set with env vars
QUBES_SPLIT_SSH_VAULT="${QUBES_SPLIT_SSH_VAULT:-"{{ ssh_vault_vm }}"}"
QUBES_SPLIT_SSH_SOCK_DIR="${QUBES_SPLIT_SSH_SOCK_DIR:-"/tmp/qubes-split-ssh/${QUBES_SPLIT_SSH_VAULT}"}"
QUBES_SPLIT_SSH_SOCK_NAME="${QUBES_SPLIT_SSH_SOCK_NAME:-"agent.${RANDOM}"}"
QUBES_SPLIT_SSH_SOCK="${QUBES_SPLIT_SSH_SOCK:-"${QUBES_SPLIT_SSH_SOCK_DIR}/${QUBES_SPLIT_SSH_SOCK_NAME}"}"

if [ -n "${QUBES_SPLIT_SSH_VAULT}" ]; then

  log "SETTING UP SPLIT SSH FOR VAULT QUBE "${QUBES_SPLIT_SSH_VAULT}

  # make sure sock dir exists
  install \
    -o 1000 \
    -g 1000 \
    -m 0700 \
    -d "${QUBES_SPLIT_SSH_SOCK_DIR}"

  # start the proxy
  sudo -u user socat \
    "UNIX-LISTEN:${QUBES_SPLIT_SSH_SOCK},fork,mode=755" \
    "EXEC:qrexec-client-vm ${QUBES_SPLIT_SSH_VAULT} qubes.SshAgent" \
    &

  log "PROXY SOCKET OPEN FOR ${QUBES_SPLIT_SSH_VAULT} ON ${QUBES_SPLIT_SSH_SOCK}"
else
  log "\$QUBES_SPLIT_SSH_VAULT IS NOT DEFINED, ABORTING"
fi


