o# vim: set ft=salt syn=salt: #}
---

{%- load_yaml as prefsmap %}
common:
  cursor_theme: 'Adwaita'
  sans_font: 'Liberation Sans Mono 10'
  mono_font: 'IBM Plex Mono 10'
RedHat:
  gtk_theme: 'Flat-Remix-GTK-White-Darkest'
  icon_theme: 'Flat-Remix-Black-Dark'
Debian:
  gtk_theme: 'Materia-dark-compact'
  icon_theme: 'Paper Mono Dark'
{% endload -%}
{%- set prefs = salt['grains.filter_by'](prefsmap, default="RedHat", base="common", merge=salt["pillar.get"]("theme_prefs", {})) -%}

