[Unit]
Description=Run /usr/lib/qubes/qubes-setup-dnat-to-ns
After=qubes-network-uplink.service
ConditionPathExists=!/var/run/qubes/this-is-templatevm

[Service]
Type=oneshot
ExecStartPre=sleep 15
ExecStart=/usr/lib/qubes/qubes-setup-dnat-to-ns

[Install]
WantedBy=multi-user.target
