{%- from "common/defaults/qvm_defaults.jinja" import dvm_defaults -%}
{%- set template_name = "on-whonix-workstation-18" -%}

{%- load_yaml as vm_defaults -%}
present:
  - template: "{{ template_name }}"
prefs:
  - netvm: "sys-tor-whonix"
  - template-for-dispvms: true
features:
  - enable:
    - appmenus-dispvm
  - set:
    - gui-events-max-delay: 100
    - menu-items: {{ [
"Alacritty.desktop",
"anondist-torbrowser_update.desktop",
"janondisttorbrowser.desktop",
"systemcheck.desktop",
"thunar.desktop",
] | join(" ") }}
    - menu-favorites: "@disp:janondisttorbrowser.desktop anondist-torbrowser_update.desktop"
tags:
  - add:
    - anon-vm
    - sdwdate-gui-client
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, dvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, vm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm,
  salt["pillar.get"]("user_qvms:dispvms:dvm_whonix_workstation_18", default={}),
  merge_lists=true,
  in_place=true
) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
