{%- import_yaml './maps/grains.os_family.yml' as osfamily_map with context -%}

{%- set filepaths = salt['grains.filter_by'](osfamily_map, default={}) -%}

{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
