{%- from "common/defaults/qvm_defaults.jinja" import dvm_defaults -%}
{%- set template_name = "uses-app-firefox" -%}

{%- load_yaml as dvm_opts -%}
present:
  - template: "{{ template_name }}"
features:
  - disable:
    - service.hardened_malloc
  - enable:
    - service.qubes-ctap-proxy
  - set:
    - menu-items: org.mozilla.firefox.desktop
    - menu-favorites: "@disp:org.mozilla.firefox"
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, dvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, dvm_opts, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": dvm_opts.present }, merge_lists=true, in_place=true) -%}

{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
