# vi: set ts=2 sw=2 et number :
# service             arg       source                target            action params
qubes.UpdatesProxy    *         @tag:whonix-updatevm  @default          allow  target=sys-whonix
qubes.UpdatesProxy    *         @tag:whonix-updatevm  @tag:anon-gateway allow
qubes.UpdatesProxy    *         @type:TemplateVM      @anyvm            allow  target=sys-net-wifi
qubes.UpdatesProxy    *         @anyvm                @anyvm            allow  target=sys-net-wifi
qubes.UpdatesProxy    *         @type:TemplateVM      @anyvm            allow  target=disp-sys-firewall-linux-wifi
qubes.UpdatesProxy    *         @anyvm                @anyvm            allow  target=disp-sys-firewall-linux-wifi

whonix.SdwdateStatus  +         @tag:anon-gateway     @tag:anon-vm       allow  autostart=no notify=no
whonix.SdwdateStatus  +         @tag:anon-gateway     @default           deny   notify=no
whonix.SdwdateStatus  +         @anyvm                @anyvm             deny

whonix.NewStatus      *         @tag:anon-vm          @tag:anon-gateway  allow  autostart=no
whonix.NewStatus      *         @anyvm                @anyvm             deny

whonix.GatewayCommand +restart @tag:anon-gateway      @tag:anon-vm       allow  autostart=no
whonix.GatewayCommand +stop    @tag:anon-gateway      @tag:anon-vm       allow  autostart=no
whonix.GatewayCommand +showlog @tag:anon-gateway      @tag:anon-vm       allow  autostart=no
whonix.GatewayCommand *        @anyvm                 @anyvm             deny
