{%- load_yaml as osfamily_map -%}
RedHat:
  pkgs:
    - breeze-cursor-theme
    - papirus-icon-theme
    - papirus-icon-theme-light
    - papirus-icon-theme-dark
  prefs:
    theme:
      gtk: "Breeze-Dark"
      icon: "Papirus Dark"
      cursor: "Breeze Dark"
Debian:
  pkgs:
    - papirus-icon-theme
    - breeze-cursor-theme
  prefs:
    theme:
      gtk: "Breeze-Dark"
      icon: "Paper-Mono-Dark"
      cursor: "Breeze Dark"
{%- endload -%}
{%- set ui = salt["grains.filter_by"](osfamily_map, default={}) -%}
{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
