{%- from "common/defaults/qvm_defaults.jinja" import dvm_defaults -%}

{%- set template_name = "uses-stack-dev" -%}

{%- load_yaml as vm_defaults -%}
present:
  - template: "{{ template_name }}"
prefs:
  - template: "{{ template_name }}"
  - memory: 8000
  - maxmem: 16000
  - vcpus: 4
features:
  - enable:
    - appmenus-dispvm
    - service.qubes-ctap-proxy
    - service.split-gpg2-client
  - set:
    - menu-items: Alacritty.desktop
    - menu-favorites: "@disp:Alacritty"
tags:
  - add:
    - onlykey-ssh-client
{%- endload -%}

{%- set vm = {} -%}
{%- do salt["defaults.merge"](vm, dvm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, vm_defaults, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm, { "prefs": vm.present }, merge_lists=true, in_place=true) -%}
{%- do salt["defaults.merge"](vm,
  salt["pillar.get"]("user_qvms:dispvms:dvm_dev", default={}),
  merge_lists=true,
  in_place=true
) -%}


{#- vim: set ft=salt syntax=salt.jinja ts=2 sw=2 sts=2 et : -#}
