{%- include 'utils/banner.jinja' -%}

qubes.UpdatesProxy   *         @tag:whonix-updatevm  @default allow  target={{ gateway_vm }}
whonix.NewStatus     *         @tag:anon-vm          @default allow  target={{ gateway_vm }} autostart=no notify=yes

{# vim: set ft=jinja ts=2 sw=2 sts=2 et number : #}
